
@media (max-width:520px) {
   
        .container{
            width: 100%;
            height: auto;
        }
    
    .search{
        display: none;
    }
        .navbar{
            padding-inline: 10px;
        }
        .page{
            height: auto;
        }
        .page-1{
            display: none;
        }
    
        .search{
            margin-left: 50px;
        }
    
        .page-2{
            width: 100%;
            margin-inline: 10px;
            align-items: center;
        }
    
        .nav h1{
            font-size: 20px;
        }

        .nav p{
            font-size: 15px;
        }
        .car{
            flex-direction: column;
            align-items: center;
        }

        .car-1{
            width:300px;
            height:260px;
        }
        .car-1 h3{
            font-size:20px;
        }
        .mc{
            display: none;
        }
        .car-1 img{
            width:200px;
            height:100px;
          
            margin-top:50px;    
        }
        .khali-car-box{
            width:300px;
            height:200px;
            position: absolute;
            z-index: 1;
             left: 70px;
          
        }
        .car-2{
            flex-direction: column;
            margin-left: 0px;
            align-items: center;
            margin-block: 30px;
        }
    
        
    
        .mini-1{
            width:330px;
            height:260px;
            /* background-color: rgb(165, 91, 42); */
            display:flex;
            border-radius:20px; 
            margin: 10px;     
        }
        
        .small-1{
            /* height:100%; */
            background-color: #D7D4DB;
            border-radius:20px 0px 0px 20px ;  
            padding-left: 5px; 
        }
        
        .small-1 h4:first-child{
            font-size: 15px;
            margin-top: 15px;
        }
        
        .small-1 p{
            font-size: 15px;
            margin-top: 8px;
        }
        
        .small-1 img{
            width: 100px;
            /* height: 200px; */
        }
        
    
        
    .small-2{
        width:55%;
        height:100%;
        background-color:white;
        border-radius:0px 20px 20px 0px ;  
        z-index: 1;
        position: relative;   
    }
    
    .small-2 img{
        /* float: right; */
        width:200px;
        height:200px;
        position: absolute;
        right:1.5px;
        bottom: -13px;
        /* margin-bottom: 200px; */
    }
    
    
    .down-page{
    position: relative;
    top: 600px;
    }
    
    
    .car-price{
        flex-direction: column;
        width: 100%;
        background-color: #f1f1f1;
    }
    
    
    .car-price-box{
        width:70%;  
        height: 300px;
    margin-block: 20px;
    }
    .car-price-box img{
        width: 10rem;
        margin-inline: 50px;
    }
    .car-price-box2 img{
        width: 10rem;
        /* margin-left: 50px; */
    }
    
    .car-price-box3 img{
        width: 10rem;
        /* margin-left: 50px; */
    }

    .Tranding{
        justify-content: space-around;
        padding-inline: 50px;
    }
    .Tranding h2{
        font-size: 20px;
    }
    
    .tranding-btn{
        display: flex;
    }
    
    }



@media ((min-width:520px)and (max-width:768px)) {

    .container{
        width: 100%;
        height: auto;
    }


    .navbar{
        padding-inline: 10px;
    }
    .page{
        height: auto;
    }
    .page-1{
        display: none;
    }

    .search{
        margin-left: 50px;
    }

    .page-2{
        width: 100%;
        margin-inline: 10px;
    }

    .car{
        flex-direction: column;
        align-items: center;
    }
    .khali-car-box{
        position: absolute;
        z-index: 1;
         left: 89px;
        transform: rotate(-5deg);
        background-color: #F6E3E3;
    }
    .car-2{
        flex-direction: column;
        margin-left: 0px;
        align-items: center;
        margin-block: 30px;
    }


    .mini-1{
        width:550px;
        height:260px;
        /* background-color: rgb(165, 91, 42); */
        display:flex;
        border-radius:20px; 
        margin: 10px;     
    }
    
    .small-1{
        /* height:100%; */
        background-color: #D7D4DB;
        border-radius:20px 0px 0px 20px ;  
        padding-left: 5px; 
    }
    
    .small-1 h4:first-child{
        font-size: 25px;
        margin-top: 15px;
    }
    
    .small-1 p{
        font-size: 21px;
        margin-top: 8px;
    }
    
    .small-1 img{
        width: 200px;
        /* height: 200px; */
    }
    

    
.small-2{
    width:55%;
    height:100%;
    background-color:white;
    border-radius:0px 20px 20px 0px ;  
    z-index: 1;
    position: relative;   
}

.small-2 img{
    /* float: right; */
    width:300px;
    height:300px;
    position: absolute;
    right:1.5px;
    bottom: -13px;
    /* margin-bottom: 200px; */
}


.down-page{
position: relative;
top: 600px;
}


.car-price{
    flex-direction: column;
    width: 100%;
}


.car-price-box{
    width:70%;  
    height: 300px;
margin-block: 20px;
}
.car-price-box img{
    width: 10rem;
    margin-inline: 100px;
}
.car-price-box2 img{
    width: 230px;
    /* margin-left: 50px; */
}

.car-price-box3 img{
    width: 240px;
    /* margin-left: 50px; */
}

}